@model IEnumerable<RESTCountries.Models.Country>


<div><b>Countries</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Country Name</th>
        <th>Country Region</th>
        <th>Country subregion</th>
        
    </tr>
    @foreach (var country in Model)
    {
        <tr>
            <td>
            <a href="Country/Country/@country.Alpha3Code">@country.Name</a>
            </td>
            <td>@country.Region</td>
            <td>@country.Subregion</td>
        </tr>

    }
</table>  