@model IEnumerable<RESTCountries.Models.Country>


<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Presh test</a>.</p>
</div>

<div class="text-center">
    <tr>
        <th></th>
        @foreach (var country in Model)
        {
            <th>@country.Name</th>
        }
    </tr>
</div>